---
- hosts: localhost
  vars:
    mongo_ip: {{ hostvars[groups['k8.master'][0]].ansible_host }}
    checkbox_path: /home/ubuntu/checkbox.io
  tasks:

    - name: Install required packages
      apt:
        pkg: npm
        state: present
        update_cache: yes
      become: yes

    - name: Install required packages
      apt:
        pkg: nodejs
        state: present
        update_cache: yes
      become: yes

    - name: Install required packages
      apt:
        pkg: nodejs-legacy
        state: present
        update_cache: yes
      become: yes

    - name: Install required packages
      apt:
        pkg: nginx
        state: present
        update_cache: yes
      become: yes

    - name: Install required packages
      apt:
        pkg: python3-pip
        state: present
        update_cache: yes
      become: yes

    - name: Install required packages
      apt:
        pkg: python-pip
        state: present
        update_cache: yes
      become: yes

    - name: Ensuring previous clone isn't present
      file:
        state: absent
        path: '{{checkbox_path}}'

    - name: Cloning Github repo
      git: repo=https://github.com/chrisparnin/checkbox.io.git clone=yes dest={{checkbox_path}}

    - name: Install Forever node package
      npm:
        name: forever
        state: present
        global: yes
      become: yes

    - name: Install required node packages
      npm:
        path: "{{checkbox_path}}/server-side/site"

    - name: Copy nginx.conf from repo /etc/nginx
      copy: src="{{checkbox_path}}/local-conf/nginx.conf" dest=/etc/nginx/nginx.conf
      become: yes

    - name: Modify the server root in the default file
      replace:
        path: "{{checkbox_path}}/local-conf/default"
        regexp: "root (.)+;"
        replace: "root {{checkbox_path}}/public_html/;"

    - name: Copy default file from repo to nginx folder
      copy: src="{{checkbox_path}}/local-conf/default" dest=/etc/nginx/sites-available/default
      become: yes

    - name: Restart nginx
      service:
       name: nginx
       state: restarted
      become: yes

